@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --primary: #536DC4;
  --mediumBlue: #3B54AB;
  --white: #FFFFFF;
  --font: #514F4E;
  --aqua: #4FDCCA;
  --lightAqua: #EFFAF9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --font: white;
  }
} */

@layer components {
  .footerItem {
    color: var(--primary);
    font-size: .875rem;

    @apply my-2
  }

  .ctn {
    margin: 0 32px;

    @media screen and (min-width: 1400px) {
      max-width: 1300px;
      margin: 0 auto;
    }
  }
}