@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #536DC4;
  --mediumBlue: #3B54AB;
  --white: #FFFFFF;
  --font: #514F4E;
  --aqua: #4FDCCA;
  --lightAqua: #EFFAF9;
}

@layer components {
  .footerItem {
    color: var(--primary);
    font-size: .875rem;

    @apply my-2
  }

  .ctn {
    margin: 0 32px;

    @media screen and (min-width: 1400px) {
      max-width: 1300px;
      margin: 0 auto;
    }
  }
}